//Variables
$body-background: 		#FFFFFF;
$body-color:			#CCCFE0;
$header-background: 	#093B62;
$header-default-color: 	#5EA3D7;
$header-hover-color: 	#FFFFFF;
$menu-hover-color: 		#214B6B;
$page-background-color: #FFFFFF;
$plink-hover-color: 	#093B62;
$plink-default-color:	#5EA3D7;
$thresh:				590px;
$scrollbar-fore:		#093B62;
$scrollbar-back:		#FFFFFF;
$thPop:                 880px;

@mixin contentheading() {
	font-size: 30px;
	margin-bottom: 10px;
}
