div#navbar
	background-color header-background
	width 100%
@media screen and (min-width: thresh)
	div#navbar
		height 33px
		ul
			padding 0px
			margin 0px
			margin-left 16px
			li
				width auto
				display inline
				height 30px
				float left
				list-style none
				margin-bottom 6px
		a
			padding 7px 8px
			display normal
@media screen and (max-width thresh)
	div#navbar
		height auto
		margin-top -10px
		padding-bottom 4px
		ul
			padding 0
			margin 0
			width 100%
			li
				list-style none
				padding 2px 0
				height 30px
				width 100%
		a
			padding 5px
			display block
			padding-left 24px
div#navbar
	ul
		background-color header-background
	a
		font-size 20px
		text-decoration none
		&:link, &:visited
			color header-default-color
		&:hover, &:active
			color header-hover-color
			border-bottom 2px solid header-hover-color
			background-color menu-hover-color
#content
	width 100%
	margin-top -6px
