div#navbar
	background-color header-background
	width 100%
	height 32px
	ul
		padding 0px
		padding-left 16px
		margin 0px
		li
			display inline
			height 30px
			float left
			list-style none
			margin-bottom 6px
	a
		font-size 20px
		padding 7px 8px
		text-decoration none
        &:link, &:visited
			color header-default-color
		&:hover, &:active
			color header-hover-color
			border-bottom 2px solid header-hover-color
			background-color menu-hover-color
#content
	width 100%
	margin-top -6px
