@import url("stylemenuhorizontal.css");
div#header {
	margin-bottom:10px;
}
div#header h1 {
	margin-bottom:.3em;
}
div#navbar {
	padding-top:7px;
	margin-top:-10px;
	padding-bottom:0px;
}
/*All color profiles are predefined in stylemenuhorizontal.css*/
div#navbar a, div#navbar a:link, div#navbar a:visited {
	border-left:1px solid #093B62;
	border-right:1px solid #093B62;
	border-top:1px solid #FFF;
}
div#navbar a:hover, div#navbar a:active {
	background-color:#093B62;
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	border-top:1px solid #093B62;
	border-bottom:2px solid #FFF;
}
