div#navbar {
	float:left;
	width:150px;
	height:2000px;
}
div#navbar ul {
	margin:0;
	padding:0;
	background-color:#093B62;
}
div#navbar li {
	list-style:none;
}
div#navbar ul li a {
	font-size:20px;
	color:#5EA3D7;
	display:block;
	height:25px;
	line-height:25px;
	text-indent:10px;
	text-decoration:none;
	width:100%;	
	border-left:15px solid #093B62;
}
div#navbar ul li a:link, div#navbar ul li a:visited {
	color:#5EA3D7;
}
div#navbar ul li a:hover, div#navbar ul li a:active {
	color:#FFF;
	border-color:#FFF;
}
