div#navbar {
    background-color:#093B62;
    width:100%;
    height:32px;
    
    ul {
        padding:0px;
        padding-left:16px;
        margin:0px;
        
        li {
            display:inline;
            height:30px;
            float:left;
            list-style:none;
            margin-bottom:6px;
        }
    }
    a {
        font-size:20px;
        padding:7px 8px;
        text-decoration:none;
        
        &:link, &:visited {
            color:#5EA3D7;
        }
        &:hover, &:active {
            color:#FFF;
            border-bottom:2px solid #FFF;
            background-color:#214B6B;
        }
    }
}
div#content {
width:100%;
margin-top:-6px;
}