div#navbar {
	background-color:#093B62;
	width:100%;
	height:32px;
}
div#navbar ul {
	padding:0px;
	padding-left:16px;
	margin:0px;
}
div#navbar ul li {
	display:inline;
	height:30px;
	float:left;
	list-style:none;
	margin-bottom:6px;
}
div#navbar a {
	font-size:20px;
	padding:7px 8px;
	text-decoration:none;
}
div#navbar a:link, div#navbar a:visited {
	color:#5EA3D7;
}
div#navbar a:hover, div#navbar a:active {
	color:#FFF;
	border-bottom:2px solid #FFF;
	background-color:#214B6B;
}
div#content {
	width:100%;
	margin-top:-6px;
}
