body {
	height:100%;
	width:100%;
	background-color:	rgb(19, 82, 132);
	color: 			#CCCFE0;
	font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
	margin-left:0px;
}
h3 {
	font-size:19px;
}
.ld, .ld a:link, .ld a:visited {
        font-weight:bold;
	color:			#5EA3D7;
}
.ld a {
	text-decoration:underline;
}
.ld a:hover, .ld a:active {
	color:	#093B62;
}
#content .breaker {
	height:8px;
	background-color: rgb(19, 82, 132);
	width:100%;
}
#page {
	margin-right:15px;
	margin-left:15px;
	background-color:#FFF;
}



#top {
	background-image: url("http://2.bp.blogspot.com/_cQr_Q83ukWM/TCvBO6wdteI/AAAAAAAAAHs/kuNLJnJWu5A/s1600/corvallis-hs-1.jpg");
}



#header {
	margin-top:-9px;
//	background-color:	#093B62;
	text-decoration:none;
	padding:1px 0px;
	width:100%;
}
#header h1 > a {
	padding-left:24px;
	font-size:40px;
	text-decoration:none;
}
#header h1 > a:link, div#header h1 > a:visited {
        color:                  #5EA3D7;
}
#header h1 > a:hover, div#header h1 > a:active {
        color:                  #FFF;
}



#content {
	color:			#093B62;
	padding:0px;
	width:100%;
}
#info {
	margin-top:-5px;
	padding-left:5px;
	padding-bottom:10px;
}
#info h2, #announcements h2 {
	font-size:30px;
	margin-top:12px;
	margin-bottom:10px;
}
#content hr {
	width:100%;
}
#announcements {
	padding-left:5px;
	width:100%;
	padding-top:5px;
}
#announcements h2 {
	margin-top:-5px;
}
