!!! HTML
%html
	%head
		<link rel="stylesheet" type="text/css" href="style.css">
		%title Home | Corvallis High School
	%body
		%div#page
			#top
			<script src="js/menu.js"></script>
			#content
				%h1 Home
				#info
					%h2 School Information
					%span.ld School Address:
					1400 NW Buchanan Ave., Corvallis, OR 97330
					%br

					%h2 Contact Numbers
					%span.ld Main Office Phone:
					541-757-5871
					%br
					%span.ld Main Office Fax:
					541-757-5875
					%br
					%span.ld Attendance Phone:
					541-757-5888
					%br
					%span.ld Records Request Fax:
					541-757-5894
					%br


					.ld
						%a(href="http://schools.csd509j.net/chs/announcements/") Daily Announcements
						%br
						%a(href="http://schools.csd509j.net/chs/index.php?q=general/school-bell-schedule") Regular School Bell Schedule
						%br
						%a(href="http://schools.csd509j.net/chs/general2/bell-schedules/CHS_Pride_Assembly_Schedule_1314.pdf") Pride Assembly Bell Schedule
						%br
						%a(href="http://schools.csd509j.net/chs/index.php?q=general/2-hour-delay-bell-schedule") 2-Hour Delay Bell Schedule
						%br
						%a(href="http://schools.csd509j.net/chs/general2/BUS/CHS_Bus_Routes_2014-15.pdf") Bus Routes
						%br
						%a(href="http://schools.csd509j.net/chs/general2/BUS/CHS_SNOW_ROUTES.pdf") Bus Snow Routes
						%br
						%a(href="http://schools.csd509j.net/chs/index.php?q=general/volunteer") Volunteer Opportunities
						%br
						%a(href="http://schools.csd509j.net/chs/general2/SchoolProfile/CHS-Profile-Colleges-Oct2014.pdf") School Profile
						%br
						%a(href="http://schools.csd509j.net/chs/index.php?q=calendar") Building and Athletic Calendar
						%br
				#announcements
					%h2 Announcements
					%ul
						%li
							2015/2016 Course Catalog and grade-specific Registration Forms have been posted to the
							"To Register" page, linked above.
						%li
							%a.ld(href="http://schools.csd509j.net/chs/general2/newsletter/CHS_News_April15.pdf") April Newsletter
							is now posted!
						%li
							AP Tests -
							%strong Deadline to sign up for an AP Test is Thursday, March 19
							\- please pay only the deposit ($15 deposit for each test -
							$30 for both physics tests) - students should pay in person in Beyond CHS.
						%li
							%a.ld(href='') March Newsletter
							is available!
						%li
							Deadline to
							%strong request a "Pass/Fail" grade is April 8th
							\- go to the Counseling Center for the Pass/Fail Form.
				#students
					%h2 Student Resources
					%h4 Opportunities for Students
					%p
						%strong College/University & Military Visits and Scholarship info.:
						Available from the "Beyond CHS" link below.
					%ul.ld
						%li
							%a(href="http://schools.csd509j.net/chs/index.php?q=general/senior-dates") Senior Dates
						%li
							%a(href="http://schools.csd509j.net/chs/index.php?q=general/school-schedule") School (Bell) Schedule
						%li
							%a(href="http://schools.csd509j.net/chs/services/library/index.htm") Library
						%li
							%a(href="http://schools.csd509j.net/chs/index.php?q=counseling/beyond-chs") Beyond CHS
						%li
							%a(href="http://oregoncis.uoregon.edu/Login/Login.aspx?ReturnUrl=/webcis/default.aspx") CIS
						%li
							%a(href="http://webschool.csd509j.net/") Blackboard Login
