!!! HTML
%html
	%head
		%script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
		%link(rel="stylesheet" type="text/css" href="css.css")
		%title Home | Corvallis High School
	%body
		%div#page(ng-app="")
			#top
				#header
					%h1
						%a(href="index.html") Corvallis High School
				#navbar
					%ul
						%li
							%a(href="index.html") Home
						%li
							%a(href="") Counseling
						%li
							%a(href="departments.html") Departments
						%li
							%a(href="") Activities
						%li
							%a(href="") Athletics
			#content
				#info
					%h2 School Information
					%span.ld School Address:
					1400 NW Buchanan Ave., Corvallis, OR 97330
					%br
	
					%h3.ld
						%a(href="") Contact Numbers
					%span.ld Main Office Phone:
					541-757-5871
					%br
					%span.ld Main Office Fax:
					541-757-5875
					%br
					%span.ld Attendance Phone:
					541-757-5888
					%br
					%span.ld Records Request Fax:
					541-757-5894
					%br
		
		
					.ld
						%a(href="") Daily Announcements
						%br
						%a(href="") Regular School Bell Schedule
						%br
						%a(href="") Pride Assembly Bell Schedule
						%br
						%a(href="") 2-Hour Delay Bell Schedule
						%br
						%a(href="") Bus Routes
						%br
						%a(href="") Bus Snow Routes
						%br
						%a(href="") Volunteer Opportunities
						%br
						%a(href="") School Profile
						%br
						%a(href="") Building and Athletic Calendar
						%br
				.breaker
				#announcements
					%h2 Announcements
