@import "stylemenuhor";
@import "variables";

div#header {
    margin-bottom:10px;
    
    h1 {
        margin-bottom:.3em;
    }
}
div#navbar {
    padding-top:7px;
    margin-top:-10px;
    padding-bottom:0px;
    
    a, a:link, a:visited {
        border-left:1px solid $header-background;
        border-right:1px solid $header-background;
        border-top:1px solid $header-hover-color;
    }
    a:hover, a:active {
        background-color:$header-background;
        border-left:1px solid $header-hover-color;
        border-right:1px solid $header-hover-color;
        border-top:1px solid $header-background;
        border-bottom:2px solid $header-hover-color;
    }
}